<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scam.dao.InstructorMapper">
<!--    <mapper namespace="com.example.demo.DAO.UserMapper">-->

<!--    <resultMap id="BaseResultMap" type="com.example.demo.pojo.User">-->
<!--        <result column="id"       jdbcType="INTEGER" property="id" />-->
<!--        <result column="name"     jdbcType="VARCHAR" property="name" />-->
<!--        <result column="password" jdbcType="VARCHAR" property="password" />-->
<!--    </resultMap>-->

    <select id="instructorList" resultType="scam.pojo.instructor">
        select * from instructor
    </select>

    <select id="getInstructor" resultType="scam.pojo.instructor">
        select * from instructor where tno = #{tno} and teamNumber = #{teamNumber}
    </select>

    <delete id="deleteInstructor" parameterType="scam.pojo.instructor">
        delete from instructor where tno=#{tno} and teamNumber = #{teamNumber}
    </delete>

    <insert id="addInstructor" >
        insert into instructor(tno, teamNumber, grade) values (#{tno}, #{teamNumber}, #{grade})
    </insert>

    <update id="updateInstructor" parameterType="scam.pojo.instructor">
        update instructor set  grade = #{grade} where tno = #{tno} and teamNumber = #{teamNumber}
    </update>

</mapper>