<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scam.dao.InstructorMapper">
<!--    <mapper namespace="com.example.demo.DAO.UserMapper">-->

<!--    <resultMap id="BaseResultMap" type="com.example.demo.pojo.User">-->
<!--        <result column="id"       jdbcType="INTEGER" property="id" />-->
<!--        <result column="name"     jdbcType="VARCHAR" property="name" />-->
<!--        <result column="password" jdbcType="VARCHAR" property="password" />-->
<!--    </resultMap>-->

    <select id="instructorList" resultType="scam.pojo.instructor">
        select * from instructor
    </select>
    <select id="getInstructor" >
        select * from student
    </select>
    <delete id="deleteInstructor" parameterType="scam.pojo.instructor">
        delete from instructor where tno=#{tno}
    </delete>

    <insert id="addInstructor">

    </insert>

    <update id="updateInstructor" >
        update student set s_name=#{s_name},grade=#{grade},s_class=#{s_class},ID_card=#{ID_card},Bank_card=#{Bank_card},team=#{team}
        where sno=#{sno}
    </update>

</mapper>