<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script>
        function validateFeeling(input) {
            if (input.value == " ") {
                input.setCustomValidity('此项为必填');
                return false;
            }
        }
    </script>
</head>
<body>
<center><h1 >添加AwardWinning</h1></center>
<center>
    <form action="/addAwardWinning" method="post">
    <br>
    <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <input oninput="validateFeeling(this)" required="required" type="text" name="id" class="tl-price-input" placeholder="id"><br>
    <input oninput="validateFeeling(this)" required="required" type="text" name="teamNumber" class="tl-price-input" placeholder="队伍编号"><br>
    <input oninput="validateFeeling(this)" required="required" type="text" name="grade" class="tl-price-input" placeholder="获奖等级"><br>
    <input oninput="validateFeeling(this)" required="required" type="text" name="total" class="tl-price-input" placeholder="获奖总额"><br>
    <input oninput="validateFeeling(this)" type="submit" name="提交" style="color:blue" class="ant-btn-primary">
    </form>
</center>
<!--<center>-->
<!--<a th:href="@{/addStudent}" style=""><button class="ant-btn ant-btn-red">添加</button></a>-->
<!--</center>-->
</body>
</html>