<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container" style="width:1600px">

    <div id="header" style="background-color: #66afe9;">
        <center><h1 style="margin-bottom:0;">学科竞赛系统</h1></center>
    </div>

    <div id="menu" style="background-color: #66afe9;height:600px;width:100px;float:left;">
        <b>菜单</b><br>
        <p><a href="/StudentTable" target="iframe_a">学生</a></p>
        <p><a href="/TeacherTable" target="iframe_a">老师</a></p>
        <p><a href="/matchTable" target="iframe_a">赛事</a></p>
        <p><a href="/applyTable" target="iframe_a">报名</a></p>
        <p><a href="/AWTable" target="iframe_a">获奖</a></p>
    </div>

    <div id="content" style="background-color:#EEEEEE;height:600px;width:1400px;float:left;">
        <iframe src="/StudentTable" name="iframe_a"  style="height:600px;width:1400px;float:left;background-color: antiquewhite"></iframe>
    </div>

    <div id="footer" style="background-color: #66afe9;clear:both;text-align:center;">
        版权 ： xiaoyi</div>

</div>

</body>
</html>


