<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script>
        function validateFeeling(input) {
            if (input.value == " ") {
                input.setCustomValidity('此项为必填');
                return false;
            }
        }
    </script>
</head>
<body>
<center><h1>修改Instructor</h1></center>
<center>
    <form action="/updateInstructor" method="post">
    <br>
    <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <input oninput="validateFeeling(this)" required="required" type="text" name="tno" class="tl-price-input" placeholder="教师编号" th:value="${instructor.getTno()}" readonly><br>
    <input oninput="validateFeeling(this)" required="required" type="text" name="teamNumber" class="tl-price-input" placeholder="队伍编号" th:value="${instructor.getTeamNumber()}"><br>
    <input oninput="validateFeeling(this)" required="required" type="text" name="grade" class="tl-price-input" placeholder="等级" th:value="${instructor.getGrade()}"><br>
    <input oninput="validateFeeling(this)" type="submit" name="提交"  class="ant-btn-primary">
    </form>
</center>
<!--<center>-->
<!--<a th:href="@{/addStudent}" style=""><button class="ant-btn ant-btn-red">添加</button></a>-->
<!--</center>-->
</body>
</html>